# Ambientes Virtuais
venv/
env/

# Jupyter Notebooks
.ipynb_checkpoints/

# Dados Geográficos e Arquivos Pesados
# Ignora imagens de satélite e mapas de relevo
*.tif
*.tiff

# shapefiles e dados de mapeamento do IBGE/MapBiomas
*.shp
*.shx
*.dbf
*.prj
*.geojson
*.gpkg

# bases de dados genéricas
*.csv
*.xlsx
*dados/

# Cache do Python
__pycache__/
*.pyc
*.pyo

# Configurações de IDE e Sistema Operacional
.vscode/
.DS_Store
Thumbs.db